{% extends 'base.html' %}

{% block content %}


<div class="container">

    <div>
        <h2 class="mb-3">新規タスク作成</h2>
    </div>



    <div class="card mb-4">
        <div class="card-body">

            
            
            
            
            <form action="" method="POST">
                {% csrf_token %}
                {% comment %} 
                CSRF攻撃を防ぐためにPOSTフォームには{% csrf_token %}が必須
                {% endcomment %}

                <div class="mb-3">
                    <label class="form-label" for="{{ form.title.id_for_label }}">タイトル</label>
                    {{ form.title }}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.description.id_for_label }}">詳細</label>
                    {{ form.description }}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.due_date.id_for_label }}">締切日</label>
                    {{ form.due_date }}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.tags.id_for_label }}">タグ</label>
                    {{ form.tags }}
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-secondary">作成</button>
                    <a href="{% url 'todo_list'%}" class="btn primary ms-2">キャンセル</a>
                </div>

            </form>
        </div>
    </div>
</div>
    
    
{% endblock content %}